/* .h1 {
    margin-top: 12rem;
    
    text-align: center
} */

.homepageBannerh2 {
    /* margin-top: 10rem ;
    margin-bottom: 10rem !important; */
    text-align: center;

}

.bannerTagline {
    margin-top: 10em;
}

.findOutButton {
    margin-top:1.3em;
}

.homepageTrailBanner {
    /* background-image: url(./imgs/dirt_trail.jpg); */
        height:900px;
        object-fit: "cover"
}


@media all and (max-width:576px) {
    .findOutButton  {
        variant: "outline-light"
    }
}