.navbar {
    background-color: rgb(0,128,55) !important;
}

.navbarLink {
    color: rgb(161, 160, 160);
    
}

.navbarLink:hover {
    color:rgb(88, 87, 87);
    text-decoration:none;
}


#logo {
    height:4rem;
}
/* 
.fa-shopping-cart {
    margin-left:1rem;
    margin-right:1rem;
} */



.Navbar a{
    color: "#1e3932" !important
}