.groupCoffeeButtons {
    background-color: #018037 !important;
    border-color: #018037 !important
}

.groupCoffeeButtons:hover {

    background: #ffffff !important;
    transition: all 0.35s ease-in-out !important;
    color: #018037!important;
    border-color: #018037 !important;
}