.groupCoffeeButtons {
    background-color: #018037 !important;
    border-color: #018037 !important
}

.groupCoffeeButtons:hover {

    background: #ffffff !important;
    transition: all 0.35s ease-in-out !important;
    color: #018037!important;
    border-color: #018037 !important;
}


/* product card + card deck adjustments  */

.card {

    margin-bottom: 30px !important;
    max-width: 400px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.card-deck {

    margin-top: 20px !important;
    margin-bottom: 20px !important;
    margin-left: auto !important;
    display: grid !important;
    /* pixel count after minmax sets how much each column shares */
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)) !important;
    grid-gap: 2rem !important;
    
}

/* card deck width control support for the most narrow of devices (below 300px) */
@media screen and (max-width: 310px) {

    .card-deck {
  
        margin-top: 10px !important;
        margin-left: auto !important;
        display: grid !important;
        /* pixel count after minmax sets how much each column shares */
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)) !important;
        grid-gap: .5rem !important;
  
    }
  }
